@media screen and (max-width: 767px) {
.section {
    display: none;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .section {
        display: none;
    }
}
@media screen and (min-width: 1200px) {

.business {
        display: flex;
        gap: 30px;
    }

    .business__card {
        position: relative;
    }

    .business__label {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        color: var(--background-color);
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





