.site-nav {
    display: none;
}
.contacts {
    display: none;
}

.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}

.open-mobile-menu-btn_icon {
    width: 40px;
    height: 40px;
}


// .page-header {
//     padding-top: 24px;
//     padding-bottom: 25px;
//     border-bottom: 1px solid var(--other-color);
// }


// .contacts__link:hover,
// .contacts-lsnk:focus {
//     fill: var(--accent-color);
// }

// .contacts-icon {
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
//     fill: currentColor;
// }

// .smartphone {
//     width: 12px;
//     height: 16px;
// }


// .header-container {
//     display: flex;
//     align-items: center;
//     margin-left: auto;

// }

// .page-navigation {
//     display: flex;
//     align-items: center;

// }

// .contacts {
//     display: flex;
//     align-items: center;
//     column-gap: 50px;
//     margin-left: auto;

//     .tel {
//         color: var(--primary-text-color);
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         font-style: normal;
//         display: flex;
//         align-items: center;
//         transition: color var(--transition-dur-and-func);

//         &:hover,
//         &:focus {
//             color: var(--accent-color);
//         }

//     }

// }

// .site-nav {
//     display: flex;
//     column-gap: 50px;

//     .link {
//         position: relative;
//         color: var(--title-text-color);
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         transition: color var(--transition-dur-and-func);
//         padding-bottom: 32px;

//         &:hover,
//         &:focus {
//             color: var(--accent-color);
//         }

//         &.current {
//             color: var(--accent-color);

//             &::after {
//                 position: absolute;
//                 content: "";
//                 display: block;
//                 left: 0;
//                 bottom: 0;
//                 width: 100%;
//                 height: 4px;
//                 background-color: var(--accent-color);
//                 border-radius: 2px;

//             }

//         }
//     }

// }