.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
    color: var(--title-text-color);
}

.modal-form {
    display: flex;
    flex-direction: column;

}

.modal-form-field {
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 20px;
}

.modal-form-field-desc {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}



.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border var(--transition-dur-and-func);

    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }

}

.modal-form-input-icon {
    position: absolute;
    display: block;
    transform: translateY(-50%);
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: currentColor;
    transition: fill var(--transition-dur-and-func);

    .modal-form-input:focus+ & {
            fill: var(--accent-color);
        }
}

.modal-form-massage {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--transition-dur-and-func);

    &::placeholder {
            text-transform: rgba(117, 117, 117, 0.5);
        }

    &:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color var(--transition-dur-and-func);
}

}

.modal-form-check-field {
    text-align: center;
}

.modal-form-check {
    appearance: none;


}


.modal-form-own-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;

    .modal-form-check:checked+ & {
            background-color: var(--accent-color);
            background-image: url('/images/check.svg');
            background-size: contain;
            border-color: var(--accent-color);
            fill: var(--accent-color);
            border-radius: 2px;
        }
}



.modal-form-own-checkbox {
    fill: currentColor;
    transition: fill var(--transition-dur-and-func);
}

.terms-contract {
    color: var(--accent-color);
}



.modal-form-submit {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    margin-top: 30px;
    min-width: 216px;
    align-self: center;
    border-radius: 4px;
    display: inline-block;
    padding: 10px 32px;
    border: none;

    &:focus {
            color: var(--background-color);
        }
}

@media screen and (min-width: 767px) {
    
}