:root {

    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --card-color: #EEEEEE;
    --dark-background-color: #2F303A;
    --team-background-color: #F5F4FA;
    --logo-color: #000000;
    --reserve-background-color: #FFFFFF99;
    --other-color: #ECECEC;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;


}